:root {
    --grey: rgba(0, 0, 0, 0.3);
    --text: rgb(95, 95, 95);
}

body {
    background-color:aliceblue;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font: 24px 'Times New Roman';
}
textarea {
    padding: 10px;
    border: solid 3px var(--grey);
    font: 18px 'Times New Roman';
    color: var(--text);
    outline: none;
    border-radius: 12px;
}

#answer {
    background-color: white;
    max-width: 800px;
    border: solid 3px var(--grey);
    border-radius: 12px;
}

select {
    padding: 10px;
    font: 18px 'Times New Roman';   
    border: solid 3px var(--grey);
    border-radius: 8px;    
    outline: none;
}

button {
    margin: 32px;
    background-color: azure;    
    padding: 10px 30px;
    font: bold 18px 'Times New Roman';  
    color: var(--text);
    border: solid 3px var(--grey);
    border-radius: 25px; 
}

button:hover {
    background-color: rgb(190, 236, 250);
}